/* Write your CSS here */

.cg-con {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}
.ul-con {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
